<form>
    <h1>Add Post</h1>
    <div>
        <label for="title">Title</label>
        <input id="title"/>
    </div>
    <div>
        <label for="content">Content</label>
        <textarea id="content"></textarea>
    </div>
    <button>Add Post</button>
</form>